@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Roboto:300,400,500,600,700,800");
.about_section {
  margin-top: 7rem !important;
}

.sub-about {
  font-size: 1rem;
  color: #0d993a;
}

.sub-about:hover {
  color: #ffffff;
}

.about_wrapper {
  max-width: 80%;
}

.about_regular {
  max-width: 80%;
  float: none;
  line-height: 1.5rem;
  color: #6c757d;
  margin-top: 2rem;
}

.about_heading_1 {
  margin-bottom: 2rem;
}

.slider__list {
  display: inline-block;
  list-style: none;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__list li {
  color: #6c757d;
  padding: 0.5rem;
  font-size: 1rem;
}

.slider__list li:hover {
  cursor: pointer;
  color: #0d993a;
}

.slider__list li.active {
  color: #0d993a;
}

@media (max-width: 992px) {
  .slider__list {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    font-size: 12px;
  }
  .slider__list li {
    text-align: center;
  }
}

.about_photo_1 {
  width: 80%;
  height: 70%;
  background-image: url("https://images.unsplash.com/photo-1555853862-bfa5b9fbae92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
}

.slide {
  padding-left: 6.5rem;
}

@media (max-width: 992px) {
  .slide {
    padding-left: 3.5rem;
    float: none;
    margin: 0 auto;
  }
}

.about_col_1 {
  padding: 0px 20px 0 0;
}

.about_text_wrap {
  position: relative;
  z-index: 10;
  padding: 100px 0px 0px 0px;
}

.sub-one {
  position: absolute;
  z-index: 1;
  font-size: 20rem;
  color: #333333;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background: #0d993a;
}

*::selection {
  background: #0d993a;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 18px;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background: #161616;
  color: #f7f7f7;
}

a {
  text-decoration: none;
  -webkit-transition: .4s all;
  transition: .4s all;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #0d993a;
}

.heading {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #f7f7f7;
}

.sub {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #f7f7f7;
}

.regular {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #f7f7f7;
}

.about-heading {
  color: #ffffff;
  font-size: 30px;
  color: #6c757d;
}

header {
  position: relative;
  z-index: 5;
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #212529f7;
  z-index: 3;
}

.overlay ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.overlay ul li a {
  font-size: 3rem;
  font-family: 'Montserrat';
  font-weight: 800;
  color: #f7f7f7;
  text-decoration: none;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.overlay ul li a:hover {
  color: #0d993a;
  cursor: pointer;
}

.overlay ul li {
  list-style-type: none;
  margin: 20px 0;
  font-size: 26px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.overlay ul li:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.burger-menu {
  position: fixed;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
  top: 1.5rem;
  right: 4rem;
}

.burger {
  position: absolute;
  background: #f7f7f7;
  width: 70%;
  height: 2px;
  top: 50%;
  right: 0px;
  margin-top: -5px;
  opacity: 1;
}

.burger::before {
  position: absolute;
  background: #f7f7f7;
  width: 50px;
  height: 2px;
  top: 10px;
  content: "";
  display: block;
}

.burger::after {
  position: absolute;
  background: #0d993a;
  width: 50px;
  height: 2px;
  bottom: 10px;
  content: "";
  display: block;
}

.burger::after, .burger::before, .burger {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.burger-menu.menu-on .burger::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  bottom: 0px;
}

.burger-menu.menu-on .burger::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 0px;
}

.burger-menu.menu-on .burger {
  background: rgba(111, 111, 111, 0);
}

.lang__btns {
  position: fixed;
  right: 8rem;
  top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.lang__btns li {
  margin-left: 10px;
}

.lang__btns li i {
  font-size: 1.3rem;
  margin-right: 10px;
}

.lang__btns li a {
  color: #f7f7f7;
  font-weight: 600;
}

.lang__btns .active-btn {
  color: #0d993a;
}

.logo__small {
  position: fixed;
  left: 2.5rem;
  top: 1.5rem;
}

.social__links {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  text-align: center;
}

.social__links li {
  margin-bottom: 1rem;
}

.social__links a {
  font-size: 1.4rem;
  color: #6c757d;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.social__links a:hover {
  cursor: pointer;
  color: #0d993a;
}

@media (max-width: 992px) {
  .social__links {
    display: none;
  }
}

#info {
  color: #000;
  position: absolute;
  top: 10px;
  width: 100%;
  display: none;
}

.info {
  display: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo img {
  max-width: 250px;
}

.home .container {
  position: relative;
  top: 100%;
}

.home__about {
  text-align: center;
}

.home__about .regular {
  margin-top: 2rem;
}

.side_lines {
  border-right: 1px solid #f7f7f7;
  border-left: 1px solid #f7f7f7;
}

@media (max-width: 992px) {
  .side_lines {
    border-left: none;
    border-right: none;
  }
}

.read_more {
  opacity: 0;
  color: #f7f7f7;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1rem;
  border: 2px solid #f7f7f7;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.read_more:hover {
  border: 2px solid #0d993a;
}

.home__services .sub {
  color: #0d993a;
}

.home__services-item:hover .read_more {
  opacity: 1;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper_img img {
  max-width: 350px;
}

@media (max-width: 540px) {
  .swiper_img img {
    max-width: 250px;
  }
  .swiper-slide ul {
    list-style: none;
  }
  .swiper-slide ul li {
    font-size: 1rem;
  }
}

.swiper_btn {
  background: none;
  outline: none;
  color: #f7f7f7;
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid #f7f7f7;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.swiper_btn:hover {
  cursor: pointer;
  color: #0d993a;
  border: 2px solid #0d993a;
}

.swiper-container .swiper-slide {
  padding: 5%;
}

.swiper_info ul {
  margin-left: 2rem;
}

.swiper-pagination-bullet-active {
  background: #0d993a !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0px !important;
}

section {
  margin-top: 9rem;
  margin-bottom: 9rem;
  padding: 5%;
}

.home__capability .sub {
  color: #0d993a;
}

.home__capability .capabilities {
  margin-top: 4rem;
}

.swiper-container-new {
  overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  background: none;
  font-size: 2.5rem;
  color: #0d993a;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}

.swiper-button-prev {
  left: -15px;
}

.swiper-pagination-bullet {
  background: #0d993a;
}

.industries_info {
  position: absolute;
  float: none;
  margin: 0 auto;
  text-align: center;
  padding: 5%;
  -webkit-transition: .6s all;
  transition: .6s all;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.industries_info h3 {
  font-size: 1.5rem;
  -webkit-transition: .3 all;
  transition: .3 all;
}

.industries_info p {
  padding-top: 10px;
  font-size: .9rem;
}

.industries_info a {
  margin-top: 2rem;
}

.industries_info .info_hidden {
  opacity: 0;
  -webkit-transition: .6s all;
  transition: .6s all;
}

.swiper-mob {
  display: none;
}

@media (max-width: 992px) {
  .swiper-desktop {
    display: none;
  }
  .swiper-mob {
    display: block;
  }
  .swiper_btn {
    padding: 5px 10px;
    font-size: .8rem;
    border: 1px solid #f7f7f7;
    -webkit-transition: .4s all;
    transition: .4s all;
  }
}

.swiper-industries .swiper-slide:hover .industries_info {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.swiper-industries .swiper-slide:hover .info_hidden {
  opacity: 1;
}

.swiper-industries .swiper-slide {
  height: 30vh;
  width: 30vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.swiper__item-01 {
  background: url("../media/home/energy.png");
}

.swiper__item-02 {
  background: url("../media/home/finance.png");
}

.swiper__item-03 {
  background: url("../media/home/med.png");
}

.swiper__item-04 {
  background: url("../media/finance.png");
}

.swiper__item-05 {
  background: url("../media/travel.png");
}

.swiper__item-06 {
  background: url("../media/finance.png");
}

.cert_wrap {
  margin-top: 4rem;
}

@media (max-width: 992px) {
  .cert_wrap-item {
    text-align: center;
  }
}

.portfolio_wrap {
  position: relative;
  top: 15vh;
}

.portfolio_wrap .sub {
  font-size: 1.5rem;
}

.portfolio_container {
  margin: 0 auto;
  position: relative;
  top: 15vh;
  margin-bottom: 15vh;
}

.item {
  padding: 1em;
  margin: 0 auto 1em auto;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  -webkit-transition: all 120ms ease;
  transition: all 120ms ease;
}

.item h3 {
  color: #fff;
  margin-top: 0.5rem;
}

.item p {
  color: #0d993a;
}

.item:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #0d993a;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.item:hover {
  opacity: 0.75;
}

.item:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.item img {
  width: 100%;
  height: auto;
  display: block;
}

.grid-sizer,
.item {
  width: 30%;
}

@media screen and (max-width: 750px) {
  .grid-sizer,
  .item {
    width: 45%;
  }
}

@media screen and (max-width: 500px) {
  grid-sizer,
  .item {
    width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */