@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');


.heading {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.sub {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.regular {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}