.portfolio_wrap {
    position: relative;
    top: 15vh;
    padding-bottom: 5% !important;
    .sub {
        font-size: 1.5rem;
    }
}

.portfolio_container {
    margin: 0 auto;
    position: relative;
    top: 5vh;
    margin-bottom: 15vh;
}

.item {
    // border-radius: 5px;
    padding: 1em;
    margin: 0 auto 1em auto;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    transition: all 120ms ease;
    h3 {
        color: #fff;
        margin-top: 0.5rem;
    }
    p {
        color: $green;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $green;
        z-index: -1;
        transform: scale(0);
        opacity: 0;
        transition: all 300ms;
    }
    &:hover {
        opacity: 0.75;
    }
    &:hover::before {
        transform: scale(1);
        opacity: 1;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.grid-sizer,
.item {
    width: 30%;
}

//Responsiveness
@media screen and (max-width: 750px) {
    .grid-sizer,
    .item {
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    grid-sizer,
    .item {
        width: 90%;
    }
}

.portfolio_item {
    position: relative;
    top: 15vh;
    padding-bottom: 5% !important;
}

.portfolio_photo_1 {
    width: 100%;
    height: 25vh;
    background-image: url("https://cdn.dribbble.com/users/4859/screenshots/5960347/sweep-ios_2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}