.services_wrap {
    position: relative;
    top: 15vh;
    .sub {
        font-size: 1.125rem;
        transition: .4s all;
        text-align: center;
    }
}

.services_item:hover .sub {
    color: $green;
    cursor: pointer;
}

.services_row {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.slider__wrap {
    .regular {
        max-width: 80%;
    }
}

.wiggle {
  

// Animation Styles
  &:hover {
    cursor: not-allowed;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-name: wiggle;
  }
}

@keyframes wiggle {
  0% { transform: translate(1px, 0); }
  10% { transform: translate(-1px, 0); }
  20% { transform: translate(1px, 0); }
  30% { transform: translate(-1px, 0); }
  40% { transform: translate(1px, 0); }
  50% { transform: translate(-1px, 0); }
  60% { transform: translate(1px, 0); }
  70% { transform: translate(-1px, 0); }
  80% { transform: translate(1px, 0); }
  90% { transform: translate(-1px, 0); }
  100% { transform: translate(0, 0); }
}

.services_item {
  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 550px) {
   .sub {
        font-size: 2.125rem !important;
        transition: .4s all;
        text-align: center;
    }
}