@font-face {
    font-family: 'Apercu';
    src: url('fonts/apercu-regular-pro.eot');
    src: url('fonts/apercu-regular-pro.eot?#iefix') format('eot'), url('fonts/apercu-regular-pro.woff') format('woff2'), url('fonts/apercu-regular-pro.woff') format('woff'), url('fonts/apercu-regular-pro.ttf') format('truetype');
}

@font-face {
    font-family: 'Apercu-Light';
    src: url('fonts/apercu-light-pro.eot');
    src: url('fonts/apercu-light-pro.eot?#iefix') format('eot'), url('fonts/apercu-light-pro.woff') format('woff2'), url('fonts/apercu-light-pro.woff') format('woff'), url('fonts/apercu-light-pro.ttf') format('truetype');
}

#canvas {
    position: relative;
    /* width: 500px !important;
        height: 363px !important; */
    width: 100%;
    height: 100%;
    // transform: scale(1.6);
}

.cache {
    transform: translate3d(0, 0, 0);
}

#all {
    display: none;
    position: absolute;
}

#nodes {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

html.is-mobile #nodes {
    visibility: hidden;
}

.node {
    display: none;
    position: relative;
    top: -16px;
    margin-bottom: 280px;
    display: none;
}

html.is-mobile .node {
    display: block;
    margin-bottom: 40px;
}


/* Rusek */

.circle-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.contacts-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.left-part {
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 10%;
    transition: .8s all;
    display: flex;
    justify-content: center;
}

.right-part {
    display: inline-block;
    position: absolute;
    right: 10%;
}

.target-map,
.target-form {
    display: none;
    background: transparent;
}

form {
    padding: 5%;
}

.map-responsive {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#toggle-map,
#toggle-form {
    outline: none;
    text-align: left;
    background: none;
    color: #fff;
    transition: .6s all;
    border: none;
}

#toggle-form:hover {
    color: $green;
}

#toggle-map:hover {
    color: $green;
}