#info {
    color: #000;
    position: absolute;
    top: 10px;
    width: 100%;
    display: none;
}

.info {
    display: none;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    img {
        max-width: 250px;
    }
}

.home {
    .container {
        position: relative;
        top: 100%;
    }

    .regular {
        max-width: 75%;
        display: inline-block;
        float: none;
        margin: 0 auto;
    }

    .row {
        margin-top: 4rem;
    }
}

.canvas {
    position: absolute;
    top: 0;
}



